@tailwind base;
@tailwind components;
@tailwind utilities;

example2 {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
